<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
        }

        .login-options {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .login-option {
            flex-grow: 1;
            padding: 10px;
            border: none;
            background-color: transparent;
            color: #f8f5f5;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            text-align: center;
        }

        .login-option.active {
            background-color: #6244b3;
            color: #101010;
        }

        .login-form {
            display: none;
        }

        .centered {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .icon {
            margin-right: 10px;
        }

        .input-group {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 4px;
            padding: 10px;
        }

        .input-group i {
            margin-right: 10px;
            color: #555;
        }

        .input-group input[type="text"],
        .input-group input[type="email"],
        .input-group input[type="password"] {
            flex-grow: 1;
            border: none;
            padding: 8px;
            border-radius: 4px;
            background-color: transparent;
        }

        .input-group input[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        .input-group input[type="submit"]:hover {
            background-color: #73edba;
        }

        .links-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .links-container a {
            color: #333;
            text-decoration: none;
            font-size: smaller;
            transition: color 0.3s;
        }

        .links-container a:hover {
            color: #9ce5b2;
        }

        .loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
            display: none; /* Initially hidden */
        }

        .loading-spinner {
            border: 6px solid #f3f3f3;
            border-top: 6px solid #3498db;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .users {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-around;
        }

        .users h2 {
            font-size: 17px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <script>
        window.onload = function() {
            if ("<%= him %>".length > 0) { 
                alert("<%= him %>");
            }
        };
    </script>
    <div style="width: 50%; height: 100%;">
        
        <div class="centered" >
            <div class="container">
                <h1>Login</h1>
                <div class = "users">
                    <h2 id = player-option>Player</h2>
                    <h2 id="admin-option">Admin</h2>
                </div>
                <form method="post" action="/sectionPlayer" class="login-form" id="player-form" onsubmit="return validatePlayer()">
                    <div class="input-group" style="margin-bottom: 0; padding-bottom: 0;">
                        <i class="fas fa-envelope icon"></i>
                        <input type="email" id="player-email" name="email" placeholder="Email" >
                    </div>
                    <p id="show1" style="margin: 0; padding: 0;color: red; font-size: smaller;"></p>
                    <div class="input-group">
                        <i class="fas fa-lock icon"></i>
                        <input type="password" id="player-password" name="password" placeholder="Password">
                    </div>
                    <input type="submit" value="Submit">
                    <div class="links-container">
                        <a  href="signup">Create Account</a> <a style="float:right;" href="forgotuser">Forgot Password</a>
                    </div>
                </form>
                <form method="post" action="/sectionAdmin" class="login-form" id="admin-form" onsubmit="return validateLogin()">
                    <div class="input-group" style="margin-bottom: 0; padding-bottom: 0;">
                        <i class="fas fa-envelope icon"></i>
                        <input type="email" id="admin-email" name="email" placeholder="Email"  required>
                    </div>
                    <p id="show" style="margin: 0; padding: 0;color: red; font-size: smaller;"></p>
                    <div class="input-group">
                        <i class="fas fa-lock icon"></i>
                        <input type="password" id="admin-password" name="password" placeholder="Password" required>
                    </div>
                    <input type="submit" value="Submit">
                    <div class="links-container">
                        <a href="sigupadmin">Create Account</a><a style="float:right;" href="forgotadmin">Forgot Password</a>
                    </div>  
                </form>
            </div>
        </div>
    </div>

    <script>
        const playerOption = document.getElementById("player-option");
        const adminOption = document.getElementById("admin-option");
        const playerForm = document.getElementById("player-form");
        const adminForm = document.getElementById("admin-form");
        const loadingOverlay = document.getElementById("loadingOverlay");

        playerForm.style.display = "block";
        adminForm.style.display = "none";

        playerOption.addEventListener("click", () => {
            playerForm.style.display = "block";
            adminForm.style.display = "none";
            playerOption.classList.add("active");
            adminOption.classList.remove("active");
        });

        adminOption.addEventListener("click", () => {
            playerForm.style.display = "none";
            adminForm.style.display = "block";
            playerOption.classList.remove("active");
            adminOption.classList.add("active");
        });

        function showLoadingOverlay() {
            loadingOverlay.style.display = "flex";
        }

        function hideLoadingOverlay() {
            loadingOverlay.style.display = "none";
        }

        function validateLogin() {
            showLoadingOverlay();
            // Simulate a delay (replace this with your actual form submission logic)
            setTimeout(function() {
                hideLoadingOverlay();
            }, 2000); // Adjust the delay time as needed
            return true; // For demonstration purposes, allowing form submission. Replace with your actual validation logic.
        }

        function validatePlayer() {
            showLoadingOverlay();
            // Simulate a delay (replace this with your actual form submission logic)
            setTimeout(function() {
                hideLoadingOverlay();
            }, 2000); // Adjust the delay time as needed
            return true; // For demonstration purposes, allowing form submission. Replace with your actual validation logic.
        }
    </script>
</body>
</html>
