body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex; 
    background-color: rgb(237, 233, 233);
}              
#sidebar1{
    border-radius: 0% 5% 5% 0;
    background-color:#bfb1f5;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* display: none; */
}
#sidebar2 {
background-color: #bfb1f5;
display: none;
width: 5%;
position: fixed;
top: 0;
left: 0;
height: 100vh;
border-radius: 0% 10% 10% 0%;
}
#mainbar{
    height: 100vh;
    margin-left: 22%;
    width: 80%;
}
.dynamic-content{
    display: none;
}
.nav1{
    /* overflow: hidden; */
    margin-left: 2%;
}

.nav2 {
display: flex;
margin-right: 10%;
flex-direction: column;
justify-content: center; /* Center items vertically */
align-items: center; /* Center items horizontally */
}

ul {
padding-top: 30px;
}

a {
text-decoration: none;
font-size: 20px;
}
.material-symbols-outlined {
  margin-right: 5px;
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24,

}
.nav1 a{
border-radius: 10%;
padding: 10px;
color: rgb(20, 18, 18);
font-weight: bolder;
}
.nav1 a:hover {
border-radius: 10%;
padding: 10px;
color: white;
background-color: rgb(91, 75, 108);
}
.nav2 a:hover {
border-radius: 10%;
color: white;
padding: 10px;

background-color: rgb(30, 29, 29);
}
@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}
.dynamic-content{
    padding: 20px 20px 20px 0px;
    width: 95%;
}
