/* creatematch.css */

#creatematch {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    transition: transform 0.3s ease-in-out;
    font-family: 'Arial', sans-serif; /* Change the font family */
  }
  
  
  #creatematch:hover {
    transform: scale(1.02);
  }
  
  #creatematch h1 {
    color: #4caf50; /* Change the font color */
    font-size: 24px; /* Change the font size */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .label-group {
    display: flex;
    margin-top: 15px;
    align-items: center;
    width: 100%; /* Take full width */
    padding: 10px; /* Add padding */
    box-sizing: border-box;
  }
  
  label {
    margin-right: 10px;
    color: #555;
    font-size: 16px; /* Change the font size */
  }
  
  input,
  select {
    padding: 12px; /* Add padding */
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #4caf50; /* Change the border color */
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    font-size: 14px; /* Change the font size */
    font-family: 'Verdana', sans-serif; /* Change the font family */
  }
  
  input:hover,
  select:hover,
  input:focus,
  select:focus {
    border-color: #45a049;
  }
  
  button {
    margin-top: 20px;
    padding: 12px 24px; /* Add padding */
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    font-size: 16px; /* Change the font size */
    font-family: 'Helvetica', sans-serif; /* Change the font family */
  }
  
  button:hover {
    background-color: #45a049;
    transform: scale(1.05);
  }
  
  /* Add animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  #creatematch {
    animation: fadeIn 1s ease;
  }
  
  .note {
    margin: 20px 0;
    padding: 15px;
    border: 2px solid #4caf50;
    border-radius: 8px;
    color: #fbf9f9;
    font-size: 25px;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #5481f1, #f16d83,rgb(107, 120, 46));
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

